.container {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  justify-content: center;
  align-self: center;
}
.header {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.calendar {
  margin: 10px;
  border: 1px solid red;
}
.calendar .week-tabs {
  border: 1px solid blue;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.calendar .week-tabs .day-tab {
  height: 30px;
  width: 200px;
  background-color: lightgrey;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .week-tabs .day-tab:hover {
  text-decoration: underline;
  background-color: white;
  cursor: pointer;
}
.calendar .day-list {
  display: block;
  margin: 10px;
  width: 100px;
}
.calendar .day-list .title {
  font-size: 24px;
  font-weight: bold;
}
.calendar .day-selected {
  display: block;
  margin: 10px;
  width: 100%;
}
.calendar .day-tab-selected {
  background-color: white;
  border: none;
}
