.container {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-self: center;
  margin: 0 auto;

}

.header {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.calendar {
  // border: 1px solid red;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .week{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .day {
      padding: 10px;
      width: 100%;
      border-radius: 3px;
      background-color: lightblue;
      opacity: .7;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        text-decoration: underline;
        opacity: .5;
        cursor: pointer;
        }//hover
      }//day
      .day-selected {
        background: linear-gradient(#bec1c6, white);
        border-bottom: none;
      }//day-selected
    }
  .agenda {
    margin: 10px;
    width: 100%;
    .agenda-title {
      font-size: 24px;
      font-weight: bold;
      }//agenda-title
    }//agenda
}//calendar
